@model IEnumerable<Matricula>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

 
        @foreach (var matricula in Model)
        {
            <tr>
                <td> @matricula.Curso.Titulo</td>
                <td> @matricula.Nota</td>
            </tr>
        }


    </tbody>
</table>
